

.navbar{
    display: flex;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
}
.logo{
    flex: 20%;
    /* border: 1px solid red; */
    text-align: center;
    margin-left: 10%;

}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #180f4a;
    font-size: 34px;

}
.menu{
    flex: 70%;
    /* border: 1px solid green; */
    text-align:right ;
    padding: 20px;
}
.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px  20px;
}
.menu a:hover{
    color: #ff2978;
    border-top: 4PX SOLID #180f4a;

}
#botao{
    background: #180f4a;
    padding: 10px 25px;
    border-radius:  5px ;
    color:white ;
    margin-right: 15%;
    margin-left: 5%;
}
#botao:hover{
    border: none;
    color: #ff2877;
}
.header{
    display: flex;
    flex-flow: row wrap;
    background: gray;
    height: 600px;
}
.headline{
    flex: 40%;
    margin-left: 10%;
    border: 1px solid black;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    border: #ff2978;
    text-align: center;
}

.topbar{
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    display: flex;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search
{
    
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;   
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}