@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    color: var(--color-dark-variant);
    user-select: none;
    overflow-x: hidden;
  }



/* Container styles */
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 30rem;
}

/* Top styles */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.logo {
  display: flex;
  gap: 0.8rem;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.close {
  display: none;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

.sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

.sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

.sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

.sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 6px);
}

.sidebar a:hover {
  color: var(--color-primary);
}

.sidebar a:hover span {
  margin-left: 1rem;
}

/* Body styles */
.body {
  margin-top: 1.4rem;
}

/* Insights styles */
.body .insights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.body .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.body .insights > div:hover {
  box-shadow: none;
}

.body .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

.body .insights > div.temperature span {
  background: var(--color-insight-1);
}

.body .insights > div.humidity span {
  background: var(--color-insight-2);
}

.body .insights > div.pressure span {
  background: var(--color-insight-3);
}

.body .insights > div.altitude span {
  background: var(--color-insight-4);
}

.body .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

/* Histories styles */
.body .histories {
  margin-top: 2rem;
}

.body .historycharts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.body .historycharts:hover {
  box-shadow: none;
}

.body .historycharts .historydivs {
  text-align: center;
}

.body .histories h2 {
  margin-bottom: 0.8rem;
}

/* Right sidebar styles */
.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .themetoggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .themetoggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .themetoggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right .gaugecharts {
  margin-top: 2rem;
}

.right .gaugecharts .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .gaugecharts .item:hover {
  box-shadow: none;
}

.right .gaugecharts .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}

.right .gaugecharts .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}

.right .gaugecharts .item.offline .icon {
  background: var(--color-danger);
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  .logo h2 {
    display: none;
  }
  .sidebar h3 {
    display: none;
  }
  .sidebar a {
    width: 5.6rem;
  }
  .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  .body .insights {
    grid-template-columns: 1fr;
  }
  .body .histories {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  .body .histories .historycharts {
    grid-template-columns: 1fr;
    width: 54vw;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 94%;
    grid-template-columns: 12rem auto 23rem;
  }
  .body .insights {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
  .body .histories .historycharts {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  .logo {
    margin-left: 1rem;
  }
  .logo h2 {
    display: inline;
  }
  .sidebar h3 {
    display: inline;
  }
  .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  } 
  .close {
    display: inline-block;
    cursor: pointer;
  }
  .body {
    margin: 8rem 2rem 2rem 2rem;
    padding: 0 1rem;
  }
  .body .histories {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .body .histories .historycharts {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .themetoggler {
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 1rem 0 1rem 0;
  }
  .body {
    margin: 5rem 1rem 1rem 1rem;
    padding: 0 1rem;
    width: 90vw;
  }

  .body .insights {
    gap: 0.4rem;
  }
  .body .insights > div {
    padding: 0.4rem;
  }

  .body .historycharts {
    display: grid;
    grid-template-columns: 1fr;
  }
}


/* 

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


.profilephoto {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.textmuted {
  color: var(--color-info-light);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

.darkthemevariables {
  --color-background: #090d3e;
  --color-white: #0b0f4a;
  --color-primary: #fff;
  --color-dark: #edeffd;
  --color-dark-variant: #fff;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  
  --chart-background: #0d1256;
  --chart-font-color: #fff;
  --chart-axis-color: #fff;
}

.body {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: poppins, san-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark-variant);
}



.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 30rem;
}


.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
  }
  .logo {
    display: flex;
    gap: 0.8rem;
  }
  .logo img {
    width: 2rem;
    height: 2re;
  }
  .close {
    display: none;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
  }
  
  
  .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
  }
  
  .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
  }
  
   .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  } 
  
  .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
  }
  .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
  }
  .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 6px);
  }
  .sidebar a:hover {
    color: var(--color-primary);
  }
  
  .sidebar a:hover span {
    margin-left: 1rem;
  } 
  .body {
    margin-top: 1.4rem;
  }
  
  .body .insights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
  }
  .body .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  .body .insights > div:hover {
    box-shadow: none;
  }
  
  .body .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
  }
  
  .body .insights > div.temperature span {
    background: var(--color-insight-1);
  }
  
  .body .insights > div.humidity span {
    background: var(--color-insight-2);
  }
  
  .body .insights > div.pressure span {
    background: var(--color-insight-3);
  }
  .body .insights > div.altitude span {
    background: var(--color-insight-4);
  }
  
  .body .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .body .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
  }
  
  .body .histories {
    margin-top: 2rem;
  }
  
  .body .historycharts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
  }
  .body .historycharts:hover {
    box-shadow: none;
  }
  
  .body .historycharts .historydivs {
    text-align: center;
  }
  
  .body .histories h2 {
    margin-bottom: 0.8rem;
  }
  
  
  
  .right {
    margin-top: 1.4rem;
  }
  .right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
  .right .top button {
    display: none;
  }
  
  .right .themetoggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
  }
  
  .right .themetoggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right .themetoggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
  }
  
  .right .gaugecharts {
    margin-top: 2rem;
  }
  .right .gaugecharts .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  .right .gaugecharts .item:hover {
    box-shadow: none;
  }
  
  .right .gaugecharts .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
  }
  
  .right .gaugecharts .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
  }
  
  .right .gaugecharts .item.offline .icon {
    background: var(--color-danger);
  }
  
  






@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  .logo h2 {
    display: none;
  }
  
  .sidebar h3 {
    display: none;
  }
  .sidebar a {
    width: 5.6rem;
  }
  .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  .body .insights {
    grid-template-columns: 1fr;
  }
  .body .histories {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  .body .histories .historycharts {
    grid-template-columns: 1fr;
    width: 54vw;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 94%;
    grid-template-columns: 12rem auto 23rem;
  }
  .body .insights {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
  .body .histories .historycharts {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  .logo {
    margin-left: 1rem;
  }
  .logo h2 {
    display: inline;
  }
  .sidebar h3 {
    display: inline;
  }
  .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
   .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  } 
  .close {
    display: inline-block;
    cursor: pointer;
  }
  .body {
    margin: 8rem 2rem 2rem 2rem;
    padding: 0 1rem;
  }
  .body .histories {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  .body .histories .historycharts {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 90%;
    margin: 0 auto 0rem auto;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1 rem var(--color-light);
  }
  .right .top .themetoggler {
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 1rem 0 1rem 0;
  }
  .body {
    margin: 5rem 1rem 1rem 1rem;
    padding: 0 1rem;
    width: 90vw;
  }

  .body .insights {
    gap: 0.4rem;
  }
  .body .insights > div {
    padding: 0.4rem;
  }

  .body .historycharts {
    display: grid;
    grid-template-columns: 1fr;
  }
}  */


/* .sidebar{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
    }
 */

/* a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
} 
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark-variant);
}
 */
